<section class="protfile">
  <div class="container">

    <header>
      <div class="img-box fade-up" appFadeUp>
        <p class="img">
          @if (userData) {
            {{userData.firstName.charAt(0) }}
          }
        </p>
      </div>
    <div class="body">
      @if (userData) {

        <h6  class="fade-up" appFadeUp> {{userData.firstName}} {{ userData.lastName}}</h6>
        <p  class="fade-up" appFadeUp> {{userData.email}}</p>
      }@else {

        <h6  class="fade-up" appFadeUp> Loading</h6>
        <p  class="fade-up" appFadeUp> Loading</p>
      }
      <div class="btns">
        <button class="btn fade-up" appFadeUp [routerLink]="'/user/setting'"  >Edit Profile </button>
        <button class="btn fade-up" appFadeUp (click)="singOut()">Logout </button>
      </div>

    </div>

  </header>
  <section class="states">
    <div class="fade-up" appFadeUp>
      <i class="fa-solid fa-heart"></i>
      <p>
        @if(userData){
          {{favourite['items'].length}}
        }@else {
          0
        }
      </p>
    </div>
    <div class="fade-up" appFadeUp>
      <i class="fa-solid fa-cart-shopping"></i>
      <p>
        @if (cart) {
          {{cart['items'].length}}
        }@else {
          0
        }
      </p>
    </div>
  </section>
  <section class="informtion">

    <h3 class="fade-up" appFadeUp>Account Information</h3>
    <div class="grid">
        @if (userData) {

         <p class="lname fade-up" appFadeUp><span>Fisrt Name : </span>{{userData.firstName || "No data to display"}}</p>
         <p class="fname fade-up" appFadeUp><span>Last Name : </span>{{userData.lastName || "No data to display"}}</p>
        }@else {
          <p class="lname fade-up" appFadeUp><span>Fisrt Name : </span>  No data to display</p>
          <p class="fname fade-up" appFadeUp><span>Last Name : </span>No data to display</p>
        }


        @if (userData) {
          <p class="phone fade-up" appFadeUp><span>Email : </span>{{userData.email || "No data to display"}}</p>
          <p class="phone fade-up" appFadeUp><span>Phon Number : </span>{{userData.phone || "No data to display"}}</p>
        }@else {

          <p class="phone fade-up" appFadeUp><span>Email : </span>No data to display</p>
          <p class="phone fade-up" appFadeUp><span>Phon Number : </span>No data to display</p>
        }

      @if (userData) {

        <p class="address fade-up" appFadeUp ><span>Country : </span>{{userData.Country || "No data to display"}}</p>
        <p class="address fade-up" appFadeUp ><span>city : </span>{{userData.city || "No data to display"}}</p>
        <p class="address fade-up" appFadeUp ><span>Address : </span>{{userData.address || "No data to display"}}</p>
      }@else {
        <p class="address fade-up" appFadeUp ><span>Country : </span>No data to display</p>
        <p class="address fade-up" appFadeUp ><span>city : </span>No data to display</p>
        <p class="address fade-up" appFadeUp ><span>Address : </span>No data to display</p>
      }
    </div>
  </section>
</div>

</section>
